<!doctype html>
<html>
    <head>
        <title>erls</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="max-w-md m-auto bg-blue-300">
        <h1 class="text-2xl text-center">ERLS</h1>
        <form method="POST" action="/short">
            <label>URL: <input id="url" name="url" type="url" required></label>
            <button type="submit">Submit</button>
        </form>
        <div>
        {% for url in urls %}
            <div class="">
                <p>{{ url }}</p>
                <a href="{{url.longUrl}}">{{ url.shortId }}</a>
            </div>
        {% endfor %}
        </div>
    </body>
</html>