<!doctype html>
<html>
    <head>
        <title>erls</title>
        <link type="text/css" href="/styles.css" rel="stylesheet">
        <meta type="description" content="Link shortening service created and provided by @rasliche."/>
    </head>
    <body>
        <h1>ERLS</h1>
        <form method="POST" action="/short">
            <label>URL: <input id="url" name="url" type="url" required></label>
            <button type="submit">Submit</button>
        </form>
        <div>
        {% for url in urls %}
            <div>
                <p>{{ url }}</p>
                <a href="{{url.longUrl}}">{{ url.shortId }}</a>
            </div>
        {% endfor %}
        </div>
    </body>
</html>